:root {
  --bg-primary: hsl(0, 0%, 100%);
  --bg-secondary: hsl(0, 0%, 97%);
  --primary-text: hsl(0, 0%, 9%);
  --inverted-text: hsl(0, 0%, 100%);
  --highlight: hsl(224, 60%, 56%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: hsl(240, 20%, 5%);
    --bg-secondary: hsl(240, 10%, 10%);
    --primary-text: hsl(0, 0%, 93%);
    --inverted-text: hsl(0, 0%, 9%);
    --highlight: hsl(159, 71%, 55%);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--primary-text);
  background: var(--bg-primary);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

ul {
  list-style: none;
}

.page {
  font-family: var(--font-inter);
  max-width: 960px;
  margin: 120px auto;
}

section {
  padding: 1.5rem;
  margin-bottom: 4rem;
}

#hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
  flex-wrap: wrap;

  .greeting {
    font-size: 3.5rem;
    margin-bottom: 76px;
  }
  .name {
    font-size: 1.75rem;
    margin-bottom: 64px;
  }
  .description {
    max-width: 512px;
    font-size: 1.5rem;
    margin-bottom: 36px;
    line-height: 141%;
    letter-spacing: 3%;
  }
  .cta-group {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;
    align-items: center;
  }
}

.highlighted-text {
  color: var(--highlight);
}

#skills {
  .title {
    font-size: 1.5rem;
    display: flex;
    gap: 6px;
    align-items: center;
    svg {
      height: 24px;
      width: 24px;
      path {
        fill: none;
        stroke: var(--highlight);
      }
      height: 2rem;
      width: 2rem;
    }
  }
  .skill-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin: 2rem 0;
  }
  .skill {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.5rem;
    .bullet {
      display: inline-block;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background-color: var(--bg-secondary);
    }
    &:hover {
      color: var(--highlight);
      .bullet {
        background-color: var(--highlight);
      }
    }
  }
}

.primary-cta {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 1.5rem;
  background-color: var(--highlight);
  padding: 9px 12px;
  border-radius: 5px;
  color: var(--inverted-text);
  font-weight: 600;
  font-family: var(--font-poppins);
  svg {
    height: 42px;
    width: 42px;
    path {
      fill: var(--inverted-text);
    }
  }
}

.secondary-cta-btn {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 1rem;
  padding: 4px 6px;
  border: 1px solid var(--highlight);
  border-radius: 5px;
  color: var(--highlight);
  font-family: var(--font-poppins);
  svg {
    height: 24px;
    width: 24px;
    path {
      stroke: var(--highlight);
      fill: none;
    }
  }
}

.section-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.75rem;
  margin-bottom: 2.5rem;
  svg {
    height: 42px;
    width: 42px;
    path {
      fill: none;
      stroke: var(--highlight);
    }
  }
}

#achievements {
  .achievement-list {
    display: grid;
    gap: 2rem;
  }
  .achievement {
    svg {
      height: 16px;
      width: 16px;
    }
    .title {
      display: inline-flex;
      align-items: center;
      gap: 6px;
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
    }
    .description {
      margin-left: 1rem;
      padding-left: 1rem;
      border-left: 1px dashed var(--highlight);
    }
  }
}

#certifications {
  .certification-list {
    display: grid;
    gap: 2rem;
  }
  .certificate {
    svg {
      height: 16px;
      width: 16px;
    }
    font-size: 1.25rem;
    display: inline-flex;
    align-items: center;
    gap: 6px;
  }
  .view-btn {
    color: var(--highlight);
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    svg {
      height: 16px;
      width: 16px;
      path {
        fill: none;
        stroke: var(--highlight);
      }
    }
  }
}
